body {
    background-image: url('../images/background.png');
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

@font-face {
    font-family: 'minecraftmedium';
    src: url('../font/minecraft-webfont.woff2') format('woff2'),
        url('../font/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'minecraftmedium';
    text-align: center;
    color: black;
}

.btn {
    background-color: #75a743;
    color: black;
    font-size: 16px;
    transition-duration: 0.5s;
    border: 2px solid #468232;
    border-radius: 8px;
    font-family: 'minecraftmedium';
}

.buttons {
    text-align: center;
}

.btn:hover {
    background-color: #a8ca58;
    color: black;
    cursor: pointer;
}

#game {
    border: 1px solid #a8ca58;
}

.media-image {
    height: 25px;
    width: 25px;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.download-button {
    padding-top: 15px;
}

.download-button:hover {
    color: #251F1F;
    cursor: pointer;
}

.style-is-cool {
    background-image: url('../images/forground.png');
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 34px;
    padding-bottom: 10px;
    padding-top: 30px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

::-webkit-scrollbar {
    width: 0;
}

.link-h6 {
    margin-top: 10px;
}

.link-h6:hover {
    color: #3A2E2E;
    cursor: pointer;
}